
  {% for bg_imager_content in bg_imager_content %}
      {{ bg_imager_content | raw }}
   {% endfor %}
      <h1 id="fh5co-logo">{{ page.site_branding }}</h1>
  </aside>
  <div id="fh5co-main-content">
    <div class="dt js-dt">
      <div class="dtc js-dtc">
       
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-10">
                <div class="fh5co-intro animate-box">
                  {% block content %}
                    <a id="main-content"></a>
                    {{ page.content }}
                  {% endblock %}
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="fh5co-footer">
      <div class="row">
        <div class="col-md-5">
          <ul id="fh5co-social">
            {% if facebook_url|render is not empty %}
              <li><a href="{{ facebook_url }}"><i class="icon-facebook"></i></a></li>
            {% endif %}
            {% if twitter_url|render is not empty %}
              <li><a href="{{ twitter_url }}"><i class="icon-twitter"></i></a></li>
            {% endif %}   
            {% if instagram_url|render is not empty %}
              <li><a href="{{ instagram_url }}"><i class="icon-instagram"></i></a></li>
            {% endif %}
            {% if google_plus_url|render is not empty %}
              <li><a href="{{ google_plus_url }}"><i class="icon-google-plus"></i></a></li>
            {% endif %}
            {% if pinterest_url|render is not empty %}
            <li><a href="{{ pinterest_url }}"><i class="icon-pinterest-square"></i></a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-7 fh5co-copyright">
          {% if footer_desc %}{{ footer_desc|raw }}{% endif %}
        </div>
      </div>
    </div>
    
  </div>


